body {
  font-family: sans-serif;
  color: #4B505C;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: 0;
  padding: 0;
  background-color: #DDE8FA;
}

button {
  padding: 1em;
  border: none;
  background-color: #7B8396;
  color: #ffffff;
}

button:hover {
  color: #ffffff;
  background-color: #008CFF;
}

button:active {
  color: #ffffff;
  background-color: #F51A17;
}

ul {
  text-decoration: none;
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  margin-bottom: 0.2em;
}

.fullName {
  padding: 1em;
  margin-right: 0.5em;
  border: none;
}

.addNameBtn {
  margin-right: 0.5em;
}

.container {
  margin: auto;
  padding: 2em 0 2em 0;
  border-bottom: solid 1px #000000;
}

header {
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 2em;
  color: #ffffff;
  background-color: #0048E8;
}

label {
  display: block;
  margin-bottom: 1em;
}
